In [ ]:
Questions 1:
Ans : RAINBOW

In [ ]:
Question 2 :

In [1]:
print("LETS UPGRADE")

LETS UPGRADE

In [ ]:
Question 3:

In [4]:
cost =float(input())
sell_price=float(input())

if(cost>sell_price):
    OUTPUT = "Loss"
elif(cost<sell_price):
    OUTPUT = "Profit"
else:
    OUTPUT = "Neither"
    
print("\n\n\n\n")
    
print("INPUT \t\t OUTPUT")
print(cost)
print(sell_price, "\t\t",OUTPUT)

20
30





INPUT 		 OUTPUT
20.0
30.0 		 Profit

In [ ]:
Question 4:

In [7]:
amount_euros =float(input())
x=80
y=amount_euros*x

amount_Rupees=y

print("\n\n\n\n")
    
print("INPUT \t\t OUTPUT")
print(amount_euros, "\t\t",amount_Rupees)

20





INPUT 		 OUTPUT
20.0 		 1600.0